@model IndInv.Models.LoginModel

@{
    ViewBag.Title = "Log in";
}

<div class="row">
<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
</hgroup>
</div>

<br />
<section id="loginForm">
@using (Html.BeginForm(new { ReturnUrl = ViewBag.ReturnUrl })) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <div class="row">
    <div class="small-6 column">
                @Html.LabelFor(m => m.UserName)
                @Html.TextBoxFor(m => m.UserName)
                @Html.ValidationMessageFor(m => m.UserName)
                @Html.LabelFor(m => m.Password)
                @Html.PasswordFor(m => m.Password)
                @Html.ValidationMessageFor(m => m.Password)
                @Html.CheckBoxFor(m => m.RememberMe)
                @Html.LabelFor(m => m.RememberMe, new { @class = "checkbox" })
        <input type="submit" value="Log in" />
    </div>
    </div>


}
</section>
<script src="../../Scripts/jquery-1.11.0.min.js"></script>
<script src="../../Scripts/jquery-migrate.min.js"></script>
<script src="../../Scripts/jquery.unobtrusive-ajax.min.js"></script>
<script src="../../Scripts/jquery.validate.min.js"></script>
<script src="../../Scripts/jquery.validate.unobtrusive.min.js"></script>
<script src="../../Scripts/jquery.validate-vsdoc.js"></script>
<script src="../../Scripts/jquery-migrate.min.js"></script>
