@model IEnumerable<IndInv.Models.Indicators>
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <thead>
    <tr>
        <th style="padding: 0px">
            @Html.DisplayNameFor(model => model.Indicator)
        </th>
        <th style="padding: 0px">
            @Html.DisplayNameFor(model => model.Area_ID)
        </th>
        <th style="padding: 0px">
            @Html.DisplayNameFor(model => model.FY_10_11)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FY_10_11_Sup)
        </th style="padding: 0px">
        <th>
            @Html.DisplayNameFor(model => model.FY_11_12)
        </th style="padding: 0px">
        <th>
            @Html.DisplayNameFor(model => model.FY_11_12_Sup)
        </th style="padding: 0px">
        <th>
            @Html.DisplayNameFor(model => model.FY_12_13)
        </th style="padding: 0px">
        <th>
            @Html.DisplayNameFor(model => model.FY_12_13_Sup)
        </th style="padding: 0px">
        <th>
            @Html.DisplayNameFor(model => model.FY_13_14_Q1)
        </th style="padding: 0px">
        <th>
            @Html.DisplayNameFor(model => model.FY_13_14_Q1_Sup)
        </th style="padding: 0px">
        <th style="padding: 0px">
            @Html.DisplayNameFor(model => model.FY_13_14_Q2)
        </th>
        <th style="padding: 0px">
            @Html.DisplayNameFor(model => model.FY_13_14_Q2_Sup)
        </th>
        <th style="padding: 0px">
            @Html.DisplayNameFor(model => model.FY_13_14_Q3)
        </th>
        <th style="padding: 0px">
            @Html.DisplayNameFor(model => model.FY_13_14_Q3_Sup)
        </th>
        <th style="padding: 0px">
            @Html.DisplayNameFor(model => model.FY_13_14_Q4)
        </th>
        <th style="padding: 0px">
            @Html.DisplayNameFor(model => model.FY_13_14_Q4_Sup)
        </th>
        <th style="padding: 0px">
            @Html.DisplayNameFor(model => model.FY_13_14_YTD)
        </th>
        <th style="padding: 0px">
            @Html.DisplayNameFor(model => model.FY_13_14_YTD_Sup)
        </th>
        <th style="padding: 0px">
            @Html.DisplayNameFor(model => model.Target)
        </th>
        <th style="padding: 0px">
            @Html.DisplayNameFor(model => model.Target_Sup)
        </th>
        <th style="padding: 0px">
            @Html.DisplayNameFor(model => model.Comparator)
        </th>
        <th style="padding: 0px">
            @Html.DisplayNameFor(model => model.Comparator_Sup)
        </th>
        <th style="padding: 0px">
            @Html.DisplayNameFor(model => model.Performance_Threshold)
        </th>
        <th style="padding: 0px">
            @Html.DisplayNameFor(model => model.Performance_Threshold_Sup)
        </th>
        <th style="padding: 0px">
            @Html.DisplayNameFor(model => model.Colour_ID)
        </th>
        <th style="padding: 0px">
            @Html.DisplayNameFor(model => model.Custom_YTD)
        </th>
        <th style="padding: 0px">
            @Html.DisplayNameFor(model => model.Custom_Q1)
        </th>
        <th style="padding: 0px">
            @Html.DisplayNameFor(model => model.Custom_Q2)
        </th>
        <th style="padding: 0px">
            @Html.DisplayNameFor(model => model.Custom_Q3)
        </th>
        <th style="padding: 0px">
            @Html.DisplayNameFor(model => model.Custom_Q4)
        </th>
        <th style="padding: 0px">
            @Html.DisplayNameFor(model => model.Definition_Calculation)
        </th>
        <th style="padding: 0px">
            @Html.DisplayNameFor(model => model.Target_Rationale)
        </th>
        <th style="padding: 0px">
            @Html.DisplayNameFor(model => model.Comparator_Source)
        </th>
        <th style="padding: 0px">
            @Html.DisplayNameFor(model => model.Data_Source_MSH)
        </th>
        <th style="padding: 0px">
            @Html.DisplayNameFor(model => model.Data_Source_Benchmark)
        </th>
        <th style="padding: 0px">
            @Html.DisplayNameFor(model => model.OPEO_Lead)
        </th>
        <th></th>
    </tr>
    </thead>

    <tbody>
@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayTextFor(modelItem => item.Indicator)
        </td>
        <td>
            @Html.DisplayTextFor(modelItem => item.Area_ID)
        </td>
        <td>
            @Html.DisplayTextFor(modelItem => item.FY_10_11)
        </td>
        <td>
            @Html.DisplayTextFor(modelItem => item.FY_10_11_Sup)
        </td>
        <td>
            @Html.DisplayTextFor(modelItem => item.FY_11_12)
        </td>
        <td>
            @Html.DisplayTextFor(modelItem => item.FY_11_12_Sup)
        </td>
        <td>
            @Html.DisplayTextFor(modelItem => item.FY_12_13)
        </td>
        <td>
            @Html.DisplayTextFor(modelItem => item.FY_12_13_Sup)
        </td>
        <td>
            @Html.DisplayTextFor(modelItem => item.FY_13_14_Q1)
        </td>
        <td>
            @Html.DisplayTextFor(modelItem => item.FY_13_14_Q1_Sup)
        </td>
        <td>
            @Html.DisplayTextFor(modelItem => item.FY_13_14_Q2)
        </td>
        <td>
            @Html.DisplayTextFor(modelItem => item.FY_13_14_Q2_Sup)
        </td>
        <td>
            @Html.DisplayTextFor(modelItem => item.FY_13_14_Q3)
        </td>
        <td>
            @Html.DisplayTextFor(modelItem => item.FY_13_14_Q3_Sup)
        </td>
        <td>
            @Html.DisplayTextFor(modelItem => item.FY_13_14_Q4)
        </td>
        <td>
            @Html.DisplayTextFor(modelItem => item.FY_13_14_Q4_Sup)
        </td>
        <td>
            @Html.DisplayTextFor(modelItem => item.FY_13_14_YTD)
        </td>
        <td>
            @Html.DisplayTextFor(modelItem => item.FY_13_14_YTD_Sup)
        </td>
        <td>
            @Html.DisplayTextFor(modelItem => item.Target)
        </td>
        <td>
            @Html.DisplayTextFor(modelItem => item.Target_Sup)
        </td>
        <td>
            @Html.DisplayTextFor(modelItem => item.Comparator)
        </td>
        <td>
            @Html.DisplayTextFor(modelItem => item.Comparator_Sup)
        </td>
        <td>
            @Html.DisplayTextFor(modelItem => item.Performance_Threshold)
        </td>
        <td>
            @Html.DisplayTextFor(modelItem => item.Performance_Threshold_Sup)
        </td>
        <td>
            @Html.DisplayTextFor(modelItem => item.Colour_ID)
        </td>
        <td>
            @Html.DisplayTextFor(modelItem => item.Custom_YTD)
        </td>
        <td>
            @Html.DisplayTextFor(modelItem => item.Custom_Q1)
        </td>
        <td>
            @Html.DisplayTextFor(modelItem => item.Custom_Q2)
        </td>
        <td>
            @Html.DisplayTextFor(modelItem => item.Custom_Q3)
        </td>
        <td>
            @Html.DisplayTextFor(modelItem => item.Custom_Q4)
        </td>
        <td>
            @Html.DisplayTextFor(modelItem => item.Definition_Calculation)
        </td>
        <td>
            @Html.DisplayTextFor(modelItem => item.Target_Rationale)
        </td>
        <td>
            @Html.DisplayTextFor(modelItem => item.Comparator_Source)
        </td>
        <td>
            @Html.DisplayTextFor(modelItem => item.Data_Source_MSH)
        </td>
        <td>
            @Html.DisplayTextFor(modelItem => item.Data_Source_Benchmark)
        </td>
        <td>
            @Html.DisplayTextFor(modelItem => item.OPEO_Lead)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { Indicator_ID = item.Indicator_ID }) |
            @Html.ActionLink("Details", "Details", new { Indicator_ID = item.Indicator_ID }) |
            @Html.ActionLink("Delete", "Delete", new { Indicator_ID = item.Indicator_ID })
        </td>
    </tr>
}
</tbody>
</table>

<script src="../../Scripts/jquery-1.11.0.min.js"></script>
<script src="../../Scripts/jquery.floatThead.min.js"></script>
<script type="text/javascript">
    $('table').floatThead($)
</script>