@model IndInv.Models.ViewModels.indexViewModel
@{
    ViewBag.Title = "Search Results";
    ViewBag.fiscalYear = Model.Fiscal_Year;
}




<div class="container">
    <!-- Push Wrapper -->
    <div class="mp-pusher" id="mp-pusher">

        <!-- mp-menu -->
        <nav id="menuFilter3D" class="mp-menu">
            <div class="mp-level">
            <h2 class="backBtnMain mp-back"><i class="fa fa-times backBtnMain mp-back"></i>Filter by:</h2>
            <ul>
                <li>
                    <a href="#"><i class="fa fa-filter"></i>CoE</a>
                    <div class="mp-level">
                        <h2 class="backBtn mp-back"><i class="fa fa-times backBtn mp-back"></i>Filter by CoE:</h2>
                        <ul class="doubleList">
                            @foreach (var coe in Model.allCoEs)
                            {
                                <li>
                                    <small><a href="#" class="filterMenuItem" field="coeID" id="@coe.CoE_ID" name="@coe.CoE"><i class="fa fa-sort-desc fa-rotate-90"></i> @coe.CoE_Abbr </a></small>
                                </li>
                    }
                        </ul>
                    </div>
                </li>
                <li>
                    <a href="#"><i class="fa fa-filter"></i>Area</a>
                    <div class="mp-level">
                        <h2 class="backBtn mp-back"><i class="fa fa-times backBtn mp-back"></i>Filter by Area:</h2>
                        <ul>
                            @foreach (var area in Model.allAreas)
                            {
                                <li>
                                    <small><a href="#" class="filterMenuItem" field="areaID" id="@area.Area_ID" name="@area.Area"><i class="fa fa-sort-desc fa-rotate-90"></i> @area.Area</a></small>
                                </li>
                    }
                        </ul>
                    </div>
                </li>
                <li>
                    <a href="#"><i class="fa fa-filter"></i>Type</a>
                    <div class="mp-level">
                        <h2 class="backBtn mp-back"><i class="fa fa-times backBtn mp-back"></i>Filter by Type:</h2>
                        <ul>
                            @foreach (var footnote in Model.allFootnotes)
                            {
                                <li>
                                    <small><a href="#" class="filterMenuItem" field="footnoteID" id="@footnote.Footnote_ID" name="@footnote.Footnote"><i class="fa fa-sort-desc fa-rotate-90"></i> @footnote.Footnote</a></small>
                                </li>
                    }
                        </ul>
                    </div>
                </li>
            </ul>
                </div>
        </nav>
        <!-- /mp-menu -->

        <div class="scroller">
            <!-- this is for emulating position fixed of the nav -->
            <div class="scroller-inner">
                <div id="pushList">
                    <input class="search" id="search_input" name="Search" type="search" placeholder="Search" />
                    <span id="trigger" class="filterExpand menu-trigger"><i class="fa fa-filter fa-2x"></i></span>

                    <div class="inner-wrap">

                        <ul id="myTags" class="tagList">
                        </ul>

                        <ul class="list" style="list-style: none">
                            @foreach (var item in Model.allIndicators.OrderBy(x => x.Indicator))
                            {
                                var coeID = item.Indicator_CoE_Map.Count > 0 ? item.Indicator_CoE_Map.FirstOrDefault().CoE_ID : 0;
                                var areaID = (int?)item.Area_ID ?? 0;
                                <div class="block coeID-@coeID areaID-@areaID @foreach (var footnote in item.Indicator_Footnote_Map)
                                                                              { @:footnoteID-@footnote.Footnote_ID 
                                }" indicatorId="@item.Indicator_ID">
                                    <li>
                                        <div class="row collapse blockContent">
                                            <div class="small-4 columns" style="font-size: small">
                                                <span class="coe">@Html.DisplayTextFor(modelItem => item.Indicator_CoE_Map.FirstOrDefault().CoE.CoE_Abbr).ToString().Trim()</span>
                                                <br />
                                                <span class="area">@Html.DisplayTextFor(modelIem => item.Area.Area).ToString().Trim()</span>
                                            </div>
                                            <div class="small-8 columns titleColumn">
                                                <span class="title" style="font-size: small">@Html.DisplayTextFor(modelItem => item.Indicator).ToString().Trim()</span>
                                            </div>
                                        </div>
                                    </li>
                                </div>
                            }   
                        </ul>
                    </div>
                </div>
            </div>
            <!-- /scroller-inner -->
        </div>
        <!-- /scroller -->

    </div>
    <!-- /pusher -->
</div><!-- /container -->


<div class="backToTop"><i class="fa fa-arrow-up"></i></div>

<script type="text/javascript" src="../../Scripts/jquery-1.11.0.min.js" ></script>
<script type="text/javascript" src="/../../Scripts/jquery-ui-1.8.20.min.js" ></script>
<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.1/css/font-awesome.min.css">

<link rel="stylesheet" href="../../Scripts/jquery.multilevelpushmenu.css" />
<script type="text/javascript" src="../../Scripts/jquery.multilevelpushmenu.js" ></script>

<script type="text/javascript" src="~/Scripts/classie.js"></script>
<script type="text/javascript" src="~/Scripts/mlpushmenu.js"></script>

<script type="text/javascript" src="../../Scripts/foundation.min.js" ></script>
<script type="text/javascript" src="../../Scripts/rem.min.js" ></script>
<script type="text/javascript" src="/../../Scripts/tag-it.min.js" ></script>

<script type="text/javascript">

    new mlPushMenu(document.getElementById('menuFilter3D'), document.getElementById('trigger'));

    $(document).ready(function ($) {

        $(".overlay").hide()

        $(".block").on("click", function () {
            console.log("DFGF");
            var indicatorID = $(this).attr("indicatorID");
            console.log(indicatorID);
            window.location.href = "indicator/details?indicatorID=" + indicatorID + "&fiscalYear=" + 1;
        });

        $('#menuFilter').multilevelpushmenu({
            fullCollapse: true,
            menuHeight: $( window ).height(),
            collapsed: true,
            menuWidth: '80%',
            onExpandMenuStart: function () {
                $(".overlay").fadeIn("fast");
            },
            onCollapseMenuStart: function () {
                if($('#menuFilter').multilevelpushmenu('activemenu').attr('data-level') == 0 ){
                    $(".overlay").fadeOut("fast");
                }
            },
            backItemIcon: 'fa fa-times',
        });

        $('.backItemClass').remove();

        $('.backBtn').on('click', function () {
            $('#menuFilter').multilevelpushmenu('collapse', 0)
        });

        $('.backBtnMain').on('click', function () {
            $('#menuFilter').multilevelpushmenu('collapse')
            $(".overlay").fadeOut("fast");
        });

        $('.filterExpand').click(function () {
            $('#menuFilter').multilevelpushmenu('expand');
        });

        $('#menuFilter').multilevelpushmenu('redraw');

        var hidden = false;

        $('#search_input').on('keyup change search click', function () {
            var valThis = $(this).val().toLowerCase();
            if (valThis == "") {
                $(".block").removeClass('textFiltered');
            } else {
                $('.block > li > .row > .titleColumn > .title').each(function () {
                        var text = $(this).text().toLowerCase();
                        var listItems;
                        if (text.indexOf(valThis) >= 0) {
                            $(this).closest(".block").removeClass('textFiltered');
                        } else {
                            $(this).closest(".block").addClass('textFiltered');
                        }
                });
            };
            refreshView();
        });


        $("#myTags").tagit({
            onTagClicked: function (event, ui) {
                $("#myTags").tagit("removeTagByLabel", ui.tagLabel);
            },
            beforeTagRemoved: function (event, ui) {
                var field = ui.tag.attr('field');
                var id = ui.tag.attr('id');
                updateFilterHide(id, field);
                $(".filterMenuItem[id='" + id + "'][field='" + field + "']").closest('li').removeClass('filterCheck');
                refreshView();
            },
            afterTagRemoved: function (event, ui) {
                if ($("#myTags").tagit("assignedTags").length === 0) {
                    $.each(filterClassList, function(index, value){
                        $("." + value).removeClass(value);
                    });
                    hidden=false;
                    refreshView();
                }
            },
        });

        $(".filterMenuItem").on("click", function () {
            var field = $(this).attr('field')
            var name = $(this).attr('name').trim();
            var id = $(this).attr('id');
            var tags = $("#myTags").tagit("assignedTags");
            if ($.inArray(name, tags) === -1) {
                $(this).closest('li').addClass('filterCheck');
                $("#myTags").tagit("createTag", name);
                $('ul li:nth-last-child(2)').attr('id', id);
                $('ul li:nth-last-child(2)').attr('field', field);
                updateFilter(id, field);
            } else {
                $(this).parent().parent().removeClass('filterCheck');
                $(this).removeClass('filterCheck');
                $("#myTags").tagit("removeTagByLabel", name);
                //updateFilterHide(id, field);
            }
            refreshView();
        });

        var filterClassList = [];
        function updateFilter(id, field) {
            var filterClass = "filtered-" + field;
            if( $("." + filterClass).length == 0 ){
                $('.block').addClass(filterClass);
            }
            $('.' + field + "-" + id).removeClass(filterClass);
            if ($.inArray(filterClass, filterClassList) === -1) {
                filterClassList.push(filterClass);
            };
        }
        function updateFilterHide(id, field) {
            var filterClass = "filtered-" + field;
            $('.' + field + "-" + id).addClass(filterClass);
            if ($('.block').length == $('.' + filterClass).length) {
                $('.block').removeClass(filterClass);
            }
        }

        function refreshView() {
            $('.block').show();
            $.each(filterClassList, function(index, value){
                $("." + value).hide();
            });
            $('.textFiltered').hide();
        }

        var offset = 220;
        var duration = 500;
        jQuery(window).scroll(function() {
            if (jQuery(this).scrollTop() > offset) {
                jQuery('.backToTop').fadeIn(duration);
            } else {
                jQuery('.backToTop').fadeOut(duration);
            }
        });
    
        jQuery('.backToTop').click(function(event) {
            event.preventDefault();
            jQuery('html, body').animate({scrollTop: 0}, duration);
            return false;
        })
    });

</script>

<style>

    .mp-menu ul li > a {
        padding:9px;
        font-size:1.5em;
        font-family:'Open Sans Condensed', sans-serif;
        color:#0094ff;
        line-height:1em;
    }
        .mp-menu ul li > a::after {
            font-size:1em;
            padding-right:9.6px;
            color:#0094ff;
            float:left;
            font-family: FontAwesome;
            content: "\f104";
            font-weight:normal;
            font-style:normal;
        }

    .mp-menu a{
        font-size: 1.5em;
        padding: 4px 0px 4px 15px;
        display: block;
    }

    h2 > .fa-times, a > .fa-filter {
        float:right;
    }


    .area {
        font-weight:300;
        color:rgb(128, 128, 128);
    }
    .coe {
        font-weight:800;
        color:black;
    }

    .backToTop {
        position: fixed;
        bottom: 0px;
        right: 0px;
        text-decoration: none;
        color: #000000;
        background-color: rgba(135, 135, 135, 0.50);
        font-size: 12px;
        padding: 1em;
        display: none;
    }

    .backToTop:hover {    
        background-color: rgba(135, 135, 135, 0.50);
    }

    .left-off-canvas-menu {
        height: 100%;
    }

    .list {
        margin:0px;
    }

    .block {
        background-color:none !important;
        border-top: 0px solid lightgray;
        padding-bottom: 5%;
    }
        /*.block:hover {
            background-color:lightblue !important;
        }*/

    .blockContent {
        padding:5px;
        border-top:1px solid lightgray;
    }

    #myTags {
        width:100%;
    }

    .tagit-choice {
        background-color:#c8ffc2;
        padding:15px;
        width:100%;
        border-bottom:1px solid lightgray;
    }
    .tagit-label {
        color:black;
        font-weight:bold;
    }
    .text-icon {
        float:right;
        position:relative;
        top:-10px;
        font-size:xx-large;
    }

    .doubleList {
        -moz-column-count: 2;
        -moz-column-gap: 0px;
        -webkit-column-count: 2;
        -webkit-column-gap: 0px;
        column-count: 2;
        column-gap: 0px;
    }
    .tagList {
        -moz-column-count: 1;
        -moz-column-gap: 0px;
        -webkit-column-count: 1;
        -webkit-column-gap: 0px;
        column-count: 1;
        column-gap: 0px;
        list-style-type: none;
        padding:0; margin:0;
    }

    .search {
        float:left;
        background-image: url(http://www.levenmetwater.nl/static/global/images/icon-search.png);
        background-position: 10px center;
        background-repeat: no-repeat;
        margin: 0px !important;
        width: 100%;
        height: 40px;
        padding: 10px 45px 10px 10px !important;
        text-indent: 20px;
        -webkit-transition: all 0.2s;
        -moz-transition: all 2s;
        transition: all 0.2s;
        border:none;
    }
        .search:focus {
            background-position: -20px center;
            text-indent: 20px;
        }

        .search::-webkit-search-cancel-button{
            position:relative;
            right:25px;
  
            -webkit-appearance: none;
            height: 20px;
            width: 20px;
            border-radius:0px;
        }
            .search::-webkit-search-cancel-button::before {
                font-family: FontAwesome;
                font-size:large;
                content: "\f057";
                color:black;

            }

    .filterExpand {
        color:white;
        position:relative;
        top:-37px;
        padding: 5px 0 0px 15px;
        float: right;
        width: 50px;
        margin: 0px !important;
        font-size: small;
        height: 37px !important;
        overflow: hidden !important;
        vertical-align: middle;
        background-color: #0094ff;
    }


    #menuFilter .multilevelpushmenu_wrapper h2, #menuFilter3D h2 {
	    font-size: medium !important;
	    line-height: 1em;
	    font-weight: lighter;
        margin-top:0;
	    color: white;
        height:50px;
	    padding: 1em .4em .4em .4em;
        background-color: #0094ff;
        font-family: Optima, Segoe, "Segoe UI", Candara, Calibri, Arial, sans-serif;
    }

    #menuFilter .levelHolderClass, .mp-level {
        background-color:white !important;
        color:white;
    }

    /*#menuFilter li:hover {
        background-color:#54c5ff !important;
        border:0 !important;
    }*/

    .multilevelpushmenu_wrapper li:hover {
	    background-color: white !important;
    }

    #menuFilter li {
        border:0 !important;
        padding:0;
    }

    #menuFilter .multilevelpushmenu_wrapper a {
        color:#0094ff !important;
        border:0 !important;
        padding:9px;
    }

    .backItemClass {
        background-color:white !important;
        color:#0094ff !important;
        border:0px !important;
    }
        .backItemClass a {
            font-size: medium !important;
        }
        /*.backItemClass:hover {
            background-color:#54c5ff !important;
        }*/

     .filterCheck::before {
        float:right;
        font-family: FontAwesome;
        /*font-size:large;*/
        content: "\f00c";
        color:white;
        padding-right:5px;
    }

    .filterCheck {
        background-color:#4cff00 !important;
        color:white !important; 
    }

    /*#menuFilter .filterCheck:hover {
        background-color:#a3ff7c !important;
    }*/

    .ui-autocomplete-input {
        visibility:hidden !important;
    }

    .inner-wrap {
        position:absolute;
        top:37px;
    }

</style>
